
h2{text-align: center;}
button{margin-left:10px; }
#container{margin:0 auto; width:300px;height: 400px;position: relative;background: url("../img/2.jpg");}
.pic{
	/*break this picture to 12 parts*/
	width: 100px;
	height: 100px;
	border:2px solid #fff;
	background: url("../img/2.jpg");
	position: absolute;
	display: none;
}
/*show a animated message after success for the puzzle*/
#msg{
	display: none;
	width:140px;
	height: 50px;
	text-align: center;
	font-size:30px;
	font-weight: bold;
	color:red;
	position: absolute;
	left:50%;
	top:230px;
	margin-left:-70px;
	-webkit-animation:-webkit-roll 2s ease 1s 5;
	/*let the message moving 360 degree 5 times */
	animation: roll 2s ease 0s 5;  
}
@-webkit-keyframes -webkit-roll{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}			
}
@keyframes roll{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
	